name: "Verify branch"

on:
  push:
    branches-ignore:
      - 'master'
      - 'main'
      - 'master/**'

jobs:
  verify:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x]
    
    steps:
    - uses: actions/checkout@v3
    - name: Lint and test
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm run lint:ci
    - run: npm run test
